h1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #ff9966;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #eeeeee;
    padding: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    color: #eeeeee;
    padding: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

h5{
    font-size: small;
    font-weight: 400;
    
}

.smalltable{
    font-size: small;
    font-weight: 400;
}

p {
    font-family: 'Rubik', sans-serif;
    margin-bottom: -15px;
    color: #ff9966;
}

body{
    background-color: white;
    color: #ff9966;
    text-align: center;
}

a{
    text-decoration: none; /*
    color:#a80b00; */
    color:#ee224a;
    font-weight: 500;
    text-align: left;
}

.highlighted-text{
    color:#ee224a;
    
}

.center-body{
    color: #ff9966;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

/* Replay table customize */ 

.replaytable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tr:nth-child(even){background-color: #f2f2f2;}

.image-padding{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.text-padding{
    padding: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.text-padding-goal{
    padding: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.text-padding-down{
    padding: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: left;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.container { 
    position:relative; 
    padding:0px; 
    top:0px; 
    right: 0; 
    left: 180px; 
    height: 1200px;
    background-color: #202020;
}

  #sidebar {
      position:relative;
      top:0; bottom:0; left:0;
      width:200px;
      height: 1000px;
      background: gray;
  }
/* Dark Mode

body{
    background-color: #242424;
    color: #ffffff;
}

a{
    text-decoration: none;
    color:#eb4034;
}

.center-body{
    color: #ffffff;
    text-align: center;
}

*/