h1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #ff9966;
}

h2{
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    color: #eeeeee;
    padding: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    color: #eeeeee;
    padding: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

h5{
    font-size: small;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color:#cccccc;
}

.smalltable{
    font-size: small;
    font-weight: 400;
}

p {
    font-family: 'Rubik', sans-serif;
    color: #ff9966;
}

body{
    background-color: white;
    color: #ff9966;
    text-align: center;
}

a{
    text-decoration: none; /*
    color:#a80b00; */
    color:#ee224a;
    font-weight: 500;
    text-align: left;
}

.highlighted-text{
    color:#ee224a;   
}

.white-text{
    color: #cccccc;
    padding: 20px;
}

.center-body{
    color: #ff9966;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

/* Replay table customize */ 

.lower-text{
    margin-bottom: -15px;
}

.replaytable{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.image-padding{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.text-padding{
    padding: 150px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.text-padding-goal{
    padding: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.text-padding-down{
    padding: 50px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: left;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.container { 
    position:relative; 
    padding:0px; 
    top:0px; 
    right: 0; 
    left: 180px; 
    height: 1200px;
    background-color: #202020;
}

  #sidebar {
      position:relative;
      top:0; bottom:0; left:0;
      width:200px;
      height: 1000px;
      background: gray;
  }

.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
/* Dark Mode

body{
    background-color: #242424;
    color: #ffffff;
}

a{
    text-decoration: none;
    color:#eb4034;
}

.center-body{
    color: #ffffff;
    text-align: center;
}

*/

/* Trying to do shit with a new page hopefully it works i know it wont */

@import url("https://fonts.googleapis.com/css2?family=Rubik:400,700,800");

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;800&display=swap');

:root {
    --black: rgba(0, 0, 0, 1);
    --eerie-black: rgba(32, 32, 32 ,1);
    --abbey: rgba(78, 78, 78, 1);
    --white: rgba(255, 255, 255, 1);

    --font-size-s: 12px;
    --font-size-m: 20px;
    --font-size-l: 40px;

    --font-family-rubik: "Rubik";
}

.title {
    align-self: center;
    color:#ff9966;
    font-family: 'Rubik', sans-serif;
    font-size: var(--font-size-l);
    font-weight: 800;
    letter-spacing: 0;
    line-height: normal;
    min-height: 52px;
    text-align: center;
    width: 556px;
}

.rubik-bold-white-20px {
    color: rgba(255, 255, 255, 1);
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}

.text-1 {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
}

.overlap-group-container {
    align-items: flex-start;
    display: flex;
    min-width: 543px;
}

.overlap {
    align-items: flex-start;
    background-color: var(--eerie-black);
    border: 1px solid;
    border-color: var(--abbey);
    display: flex;
    height: 66px;
}

.overlap-group2 {
    border-radius: 12px 0px 0px 12px;
    min-width: 205px;
    padding: 19px 29px;
}

.air-gallet {
    letter-spacing: 0;
    line-height: normal;
    min-height: 24px;
    white-space: nowrap;
    text-align: center;
}

.center-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.price {
    color: var(--white);
    font-family: var(--font-rubik-family);
    font-size: var(--font-size-s);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    min-height: 14px;
    white-space: nowrap;
}


/* more stuff heeeeeeelp */

/* .score-group {
    align-items: flex-start;
    align-self: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
} */

.score-group{
    border: 1px solid #ABADB3;
    /* border-color: rgba(78, 78, 78, 1); */
    border-radius: 12px 0px 0px 12px;
}


.sg-date{
    color: #A8A8A8;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
}

.sg-name-jp{
    color: #D65607;
    margin-bottom: -15px;
}