body{
    background-color: #242424;
    color: #ffffff;
}

a{
    text-decoration: none;
    color:#eb4034;
}

/*.replaytable{
    background-color: beige;
}

/* body{
    background-color: #f1f1f1;
    color: #202020; 
}